[submodule "config/awesome/net_widgets"]
	path = config/awesome/net_widgets
	url = git@github.com:plotnikovanton/net_widgets.git
[submodule "config/awesome/themes/awesome-solarized"]
	path = config/awesome/themes/awesome-solarized
	url = git@github.com:ticklethepanda/awesome-solarized.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts
[submodule "config/tty-solarized"]
	path = config/tty-solarized
	url = git@github.com:/joepvd/tty-solarized
